@page "/specialrequirement/delete/{SpecialRequirementId:int}"
@inherits SpecialRequirementBasePageClass

<PageTitle>Delete Special Requirement</PageTitle>

@* <AuthorizeView Roles="@RoleNames.SuperUserOnly">
    <Authorized> *@

        <br />

        @if (SpecialRequirementModel == null)
        {
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Special Requirement</MudAlert>
            return;
        }

        @if (PreventDeleting)
        {
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                <h4>This Special Requirement cannot be deleted as it is in use.</h4>
            </MudAlert>
        }
        else
        {
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                <h4>Are you sure you want to delete this Special Requirement?</h4>
            </MudAlert>
        }

        <br />

        <MudGrid>
            <MudItem sm="12">
                <MudCard>
                    <SpecialRequirementDisplayComponent SpecialRequirementModel="@SpecialRequirementModel" />
                    <MudCardActions>
                        @if (!PreventDeleting)
                        {
                            <button @onclick="DeleteSpecialRequirement" class="btn btn-danger">Delete</button>
                            @:&nbsp;
                        }
                        <a class="btn btn-primary" href="specialrequirements/index">Cancel</a>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>

@*     </Authorized>
</AuthorizeView> *@