@page "/savedpage/delete/{SavedPageId:int}"
@inherits SavedPageBasePageClass

<PageTitle>Delete Saved Page</PageTitle>

<br />

@if (SavedPageModel == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Saved Page</MudAlert>
    return;
}

<MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
    Delete Saved Page
    <p>Are you sure you want to delete this saved page?</p>
</MudAlert>

<br />

<MudGrid>
    <MudItem sm="12">
        <MudCard>
            <SavedPageDisplayComponent SavedPageModel="@SavedPageModel" />
            <MudCardActions>
                <button class="btn btn-danger" @onclick="DeleteSavedPage">Delete</button>&nbsp;<a class="btn btn-primary" href="savedpages/index">Cancel</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>