@page "/savedpage/view/{SavedPageId:int}"
@inherits SavedPageBasePageClass

<PageTitle>View Saved Page</PageTitle>

<br />

@if (SavedPageModel == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Saved Page</MudAlert>
    return;
}

<MudGrid>
    <MudItem sm="12">
        <MudCard>
            <SavedPageDisplayComponent SavedPageModel="@SavedPageModel" />
            <MudCardActions>
                <a href="savedpage/edit/@SavedPageModel.SavedPageId" class="btn btn-primary">Edit</a>&nbsp;<a class="btn btn-primary" href="savedpages/index">Back to list</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>