<MudGrid>
    <MudItem sm="12">
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Source" @bind-Value="SourceOfAwarenessDisplayModel.Source" AutoFocus OnlyValidateIfDirty="true" Disabled="@PreventEditing" />
                <MudCheckBox Label="Active" T="bool" @bind-Value="SourceOfAwarenessDisplayModel.SourceActive" />
                <MudTextField Label="Description" @bind-Value="SourceOfAwarenessDisplayModel.Description" Lines="3" />
             </MudCardContent>
             <MudCardActions>
                 <button type="submit" class="btn btn-primary">Submit</button>
                 &nbsp;
                 <a class="btn btn-primary" href="sourcesofawareness/index">Cancel</a>
             </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>