@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"] For Vulnerable Client Application</h1>

@if (User.Identity?.Name == CommonValues.SystemLordUserName)
{
    <p style="color: red; font-weight: bold">Edit this user at your peril!</p>
}

<div class="row" style="margin: 50px">
    <div class="col-md-4">
        <section>
            <form id="changepassword" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="ChangePasswordInput.CurrentPassword" class="form-control" aria-required="true" autofocus />
                    <label asp-for="ChangePasswordInput.CurrentPassword" class="form-label"></label>
                    <span asp-validation-for="ChangePasswordInput.CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="ChangePasswordInput.NewPassword" class="form-control" aria-required="true" autofocus />
                    <label asp-for="ChangePasswordInput.NewPassword" class="form-label"></label>
                    <span asp-validation-for="ChangePasswordInput.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="ChangePasswordInput.ConfirmPassword" class="form-control" aria-required="true" autofocus />
                    <label asp-for="ChangePasswordInput.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="ChangePasswordInput.ConfirmPassword" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="change-submit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
                    <br /><br />
                    <a href="~/" class="btn btn-lg btn-primary">Cancel</a>
                </div>
            </form>
        </section>
    </div>
</div>

<h4 style="color:green;font-weight:bold">@ViewData[CommonValues.SuccessMessage]</h4>
<h4 style="color:red;font-weight:bold">@ViewData[CommonValues.ErrorMessage]</h4>

<partial name="~/Areas/Identity/Shared/PasswordRequirementsPartial.cshtml" />