@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"] For Vulnerable Client Application</h1>

<div class="row" style="margin: 50px">
    <div class="col-md-4">
        <section>
            <form id="forgotpassword" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="EmailAddress" class="form-control" aria-required="true" autofocus />
                    <label asp-for="EmailAddress" class="form-label"></label>
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                    <br /><br />
                    <a href="~/" class="btn btn-lg btn-primary">Cancel</a>
                </div>
            </form>
        </section>
    </div>
</div>