@page
@model RegisteredModel
@{
    ViewData["Title"] = "Registered";
}

<h1>@ViewData["Title"] With Vulnerable Client Admin</h1>

<p>You are registered with the Vulnerable Client Admin application but have
    not yet been assigned any roles. Please contact your line manager and ask them to
    raise a ticket for IT specifying the role required.
</p>

<form id="logout" method="post">
    <button type="submit">Log out</button>
</form>    
