@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"] For Vulnerable Client Admin</h1>

<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="register" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="RegisterInput.Email" class="form-control" aria-required="true" autofocus />
                    <label asp-for="RegisterInput.Email" class="form-label"></label>
                    <span asp-validation-for="RegisterInput.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="RegisterInput.Password" class="form-control" aria-required="true" />
                    <label asp-for="RegisterInput.Password" class="form-label"></label>
                    <span asp-validation-for="RegisterInput.Password" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="RegisterInput.ConfirmPassword" class="form-control" aria-required="true" />
                    <label asp-for="RegisterInput.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="RegisterInput.ConfirmPassword" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    <br /><br />
                    <a href="~/Identity/Account/Login" class="btn btn-lg btn-primary">Log In</a>
                    &nbsp;
                    <a href="~/" class="btn btn-lg btn-primary">Cancel</a>
                </div>
            </form>
        </section>
    </div>
</div>

<h4 style="color:red;font-weight:bold">@ViewData[CommonValues.ErrorMessage]</h4>

<partial name="~/Areas/Identity/Shared/PasswordRequirementsPartial.cshtml" />