@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"] for Vulnerable Client Application</h1>

<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="resetpassword" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ResetPasswordInput.Code" type="hidden" />

                <div class="form-floating" style="margin:10px">
                    <input asp-for="ResetPasswordInput.Email" class="form-control" aria-required="true" />
                    <label asp-for="ResetPasswordInput.Email" class="form-label"></label>
                    <span asp-validation-for="ResetPasswordInput.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="ResetPasswordInput.NewPassword" class="form-control" aria-required="true" />
                    <label asp-for="ResetPasswordInput.NewPassword" class="form-label"></label>
                    <span asp-validation-for="ResetPasswordInput.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="ResetPasswordInput.ConfirmPassword" class="form-control" aria-required="true" />
                    <label asp-for="ResetPasswordInput.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="ResetPasswordInput.ConfirmPassword" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="reset-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </div>
            </form>
        </section>
    </div>
</div>

<h4 style="color:red;font-weight:bold">@ViewData[CommonValues.ErrorMessage]</h4>

<partial name="~/Areas/Identity/Shared/PasswordRequirementsPartial.cshtml" />