<h3>Password Requirements</h3>

<p>Passwords must meet the following criteria:</p>

<ul>
    <li>Minimum of six characters</li>
    <li>Must contain at least one upper case character</li>
    <li>Must contain at least one lower case character</li>
    <li>Must contain at least one digit</li>
    <li>Must contain at least one non-alphanumeric character (!£$%&*)</li>
</ul>