@page "/sourceofawareness/edit/{SourceOfAwarenessId:int}"
@inherits SourceOfAwarenessBasePageClass

<PageTitle>Edit Source Of Awareness</PageTitle>

<AuthorizeView Policy="@PolicyNames.AdminRolePolicy">
    <Authorized>

        <br />

        @if (SourceOfAwarenessModel is null || SourceOfAwarenessDisplayModel is null)
        {
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Source Of Awareness</MudAlert>
            return;
        }

        @if (PreventEditing)
        {
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                <h4>This Source Of Awareness is in use. Only the Active status and the Description can be changed.</h4>
            </MudAlert>
        }

        <br />

        <EditForm Context="subcontext" Model="@SourceOfAwarenessDisplayModel" OnValidSubmit="UpdateSourceOfAwareness">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <SourceOfAwarenessCreateUpdateComponent SourceOfAwarenessDisplayModel="@SourceOfAwarenessDisplayModel" PreventEditing="@PreventEditing" />

        </EditForm>

    </Authorized>
</AuthorizeView>