@page "/preferredcontactmethod/delete/{PreferredContactMethodId:int}"
@inherits PreferredContactMethodBasePageClass

<PageTitle>Delete Preferred Contact Method</PageTitle>

<AuthorizeView Policy="@PolicyNames.AdminRolePolicy">
    <Authorized>

        <br />

        @if (PreferredContactMethodModel is null)
        {
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Preferred Contact Method</MudAlert>
            return;
        }

        @if (PreventDeleting)
        {
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                <h4>This Preferred Contact Method cannot be deleted as it is in use.</h4>
            </MudAlert>
        }
        else
        {
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                <h4>Are you sure you want to delete this Preferred Contact Method?</h4>
            </MudAlert>
        }

        <br />

        <MudGrid>
            <MudItem sm="12">
                <MudCard>
                    <PreferredContactMethodDisplayComponent PreferredContactMethodModel="@PreferredContactMethodModel" />
                    <MudCardActions>
                        @if (!PreventDeleting)
                        {
                            <button @onclick="DeletePreferredContactMethod" class="btn btn-danger">Delete</button>
                            @:&nbsp;
                        }
                        <a class="btn btn-primary" href="preferredcontactmethods/index">Cancel</a>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>

    </Authorized>
    <NotAuthorized>

        <NotAuthorisedTextComponent />

    </NotAuthorized>
</AuthorizeView>