@page "/preferredcontactmethod/edit/{PreferredContactMethodId:int}"
@inherits PreferredContactMethodBasePageClass

<PageTitle>Edit Preferred Contact Method</PageTitle>

<AuthorizeView Policy="@PolicyNames.AdminRolePolicy">
    <Authorized>

        <br />

        @if (PreferredContactMethodModel is null)
        {
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Preferred Contact Method</MudAlert>
            return;
        }

        @if (PreventEditing)
        {
            <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">
                <h4>This Preferred Contact Method is in use. Only the Active status and Description can be changed.</h4>
            </MudAlert>
        }


        <br />

        <EditForm Context="subcontext" Model="@PreferredContactMethodDisplayModel" OnValidSubmit="UpdatePreferredContactMethod">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <PreferredContactMethodCreateUpdateComponent PreferredContactMethodDisplayModel="@PreferredContactMethodDisplayModel" PreventEditing="@PreventEditing" />

        </EditForm>

    </Authorized>
</AuthorizeView>
